@model api_mvc.Models.TournamentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @{
                if (!Model.IsStarted)
                {
                    <text>Not started</text>
                }
                else if (Model.IsFinished)
                {
                    <text>Finished</text>
                }
                else
                {
                    <text>On going</text>
                }
            }
        </dd>

   
        <dt class = "col-sm-2">
            Player's Limit
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayersNumber)
        </dd>
        <dt class = "col-sm-2">
            Total Rounds
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundsNumber)
        </dd>
        <dt class = "col-sm-2">
            Creation Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="MyTournaments">Back to My Tournaments</a>
</div>

<div class="players-list">
    <hr />
    <h4>Player's List</h4>
    <button type="button" class="btn btn-primary">
        <a class="nav-link text-dark" asp-action="Create" asp-controller="PlayerViewModels" asp-route-tournamentId="@Model.Id">Add Player</a>
    </button>
</div>

<style>
    .players-list {
        margin-top: 30px;
    }
</style>