@model api_mvc.Models.TournamentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>TournamentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayersNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayersNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
