@model IEnumerable<api_mvc.Models.TournamentViewModel>

@{
    ViewData["Title"] = "All Tournaments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>All Tournaments</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Status</th>
            <th>Player's Limit</th>
            <th>Total Rounds</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr 
                style="cursor: pointer"
                class="row-link table-row @(item.IsStarted ? (item.IsFinished ? "finished" : "on-going") : "not-started")"
                data-href="@Url.Action("Details", new { id = item.Id })">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="status-cell">
                @{
                    if (!item.IsStarted)
                    {
                        <span>Not started</span>
                    }
                    else if (item.IsFinished)
                    {
                        <span>Finished</span>
                    }
                    else
                    {
                        <span>On going</span>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayersNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoundsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".row-link").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}

<style>
    .table-row {
        background-color: none;
    }

    .table-row:hover {
        background-color: lightgray;
    }

    .not-started {
        background-color: #ff9999; /* Vermelho para "Not started" */
    }

    .on-going {
        background-color: #ffff99; /* Amarelo para "On going" */
    }

    .finished {
        background-color: #99ff99; /* Verde para "Finished" */
    }
</style>
